body{
  
}
header {
  height: 100px;
  display: flex;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  animation-name: head;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;  /* 애니메이션의 마지막 상태값을 그대로 유지 */
}
@keyframes head{
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
header div.wrap {
  width: 1080px;
  align-items: center;
}
header div.wrap h1 {
  
}
header div.wrap h1 a {
  font-size: 0;
  width: 165px;
  height: 20px;
  display: block;
  background-image: url(../img/logo.png);
}
header div.wrap h1 a::after{

}
header div.wrap ul.gnb {
  transform: translateX(-100%);
  height: 100%;
}
header div.wrap ul.gnb li {
  
}
header div.wrap ul.gnb li:hover{
  
}
header div.wrap ul.gnb li a {
  padding: 0 20px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid transparent;
}
header div.wrap ul.gnb li a:hover {
  color: #009bfa;
  border-bottom: 1px solid;
}
header div.wrap .sublist {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  padding: 40px 0 70px;
  background-color: #eee;
  display: grid;
  grid-template-columns: calc((100% - 1080px) / 2) 320px auto;
  display: none;
}
header div.wrap .sublist h2{
  
}
header div.wrap .sublist ul{
  grid-column: 3;
}
header div.wrap .sublist ul li{
  
}
header div.wrap .sublist ul li a{
  line-height: 1.7;
  display: block;
}
header div.wrap ul.lang {
  gap: 20px;
}
header div.wrap ul.lang li {
  
}
header div.wrap ul.lang li a {
  padding: 10px 0;
}
header div.wrap ul.lang li:nth-child(1) a{
  
}
header div.wrap ul.lang li:nth-child(2) a{

}
header div.wrap ul.lang li:nth-child(3) a{
  padding: 0;
  font-size: 0;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url(../img/customcenter.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header div.wrap ul.lang li:nth-child(3) a::after{
  content: "고객센터";
  font-size: 12px;
  width: max-content;
  display: block;
  margin-top: 30px;
  background-color: #d6d6d6;
  padding: 3px;
  border-radius: 3px;
  display: none;
}
header div.wrap ul.lang li:nth-child(3) a:hover::after{
  display: initial;
  animation-name: fade; /* 애니메이션 이름 */
  animation-duration: 1s; /* 애니메이션 시간(초) */
}
@keyframes fade{ /* fade이름의 애니메이션 설정 */
  0%{ /* 처음 */
    opacity: 0; /* 투명도 */
    transform: translateY(30%);
  }
  100%{ /* 마지막 */
    opacity: 1;
    transform: translateY(0%);
  }
}
header div.wrap .up{
  position: absolute;
  top: 100px;
  right: 50px;
  background-image: url(../img/arrow_up.svg);
  font-size: 0;
  width: 20px;
  height: 35px;
  background-repeat: no-repeat;
  background-color: #9f9f9f38;
  background-position: center;
  background-size: contain;
  border-radius: 0 0 10px 10px;
}
.updown {
  top: -100px !important;
}
.bgimg {
  background-image: url(../img/arrow_down.svg) !important;
}
.show {
  display: grid !important;
}



















